Repository joshua1988/vue-camp, pull requests merged in 2021-09, with the labels that each got.

#66 [doc] ES6 Destructuring - 뷰에 적용하는 구조 분해 문법 문서 작성
  docs/es6/destructuring.md
Labels: doc

#84 [tool] 코드블럭 복사 기능 플러그인 설치
  docs/.vuepress/config.js
  docs/.vuepress/styles/index.styl
  package-lock.json
  package.json
Labels: tool

#82 [tool] 문서진행률 확인을 위한 reading progress plugin 추가
  docs/.vuepress/config.js
  docs/.vuepress/styles/palette.styl
  package.json
  yarn.lock
Labels: tool

#60 [doc] es6 Promise 문서 작성
  docs/.vuepress/config.js
  docs/es6/promise.md
Labels: doc

#85 [doc] form.md 오타 수정
  docs/syntax/form.md
Labels: doc

#95 [doc] concept.md 오타 수정
  docs/vuex/concept.md
Labels: doc

#63 [doc] axios.md 설명 보충
  docs/vue/axios.md
Labels: doc

#77 [style] back-to-top 플러그인에 스타일 적용
  docs/.vuepress/config.js
  docs/.vuepress/plugins/custom-back-to-top/BackToTop.vue
  docs/.vuepress/plugins/custom-back-to-top/enhanceAppFile.js
  docs/.vuepress/plugins/custom-back-to-top/index.js
Labels: 💄style

#76 [doc] Tutorial - Todo App: 할 일 추가하기
  docs/.vuepress/public/images/todo-app-todo-control.png
  docs/testing/tutorial-todo-app.md
Labels: doc

#61 [doc] Vue에서 d3 사용하기
  docs/.vuepress/config.js
  docs/d3/README.md
  docs/d3/d3.md
  docs/d3/images/d3-line-axis.png
  docs/d3/images/d3-line-path.png
  docs/d3/tutorial.md
  docs/d3/vue-with-d3.md
Labels: doc

#124 [tool] All Contributors 변경
  .all-contributorsrc
  README.md
Labels: 🐛bug, tool

#133 [tool] 남은 기여자 contributors 에 등록
  .all-contributorsrc
  README.md
Labels: tool

#126 [bug] Fix invalid link
  docs/front-dev.md
Labels: 🐛bug

#96 [doc] v-slot 가이드 문서 작성
  docs/.vuepress/config.js
  docs/reuse/v-slot.md
Labels: doc

#121 [doc] vuex state vs data 문서화
  docs/vuex/state-vs-data.md
Labels: doc
