Repository joshua1988/vue-camp, pull requests merged in 2021-08, with the labels that each got.

#25 [문서화] How-to-pull-request 가이드 문서 작성
  .github/HOW_TO_CONTRIBUTE.md
Labels: doc

#26 [doc] 자바스크립트 널 병합 연산자(Nullish coalescing operator) 활용 가이드 제작
  docs/.vuepress/config.js
  docs/es6/nullish-coalescing-operator.md
Labels: doc

#41 [doc] HOW_TO_CONTRIBUTE.md 오타 수정
  .github/HOW_TO_CONTRIBUTE.md
Labels: doc

#29 [change] 현대 웹 서비스 개발 절차 이미지 변경
  docs/.vuepress/public/images/web-dev-flow.png
Labels: 🐛bug

#44 [doc] closure.md 오타수정
  docs/js/closure.md
Labels: doc

#45 [doc] universal-mode.md 오타 수정
  docs/nuxt/universal-mode.md
Labels: doc

#46 [doc] DOC_CONTRIBUTION_GUIDE.md 마크다운 문법 출력 오류 수정
  .github/DOC_CONTRIBUTION_GUIDE.md
Labels: doc

#54 [doc] DOC_CONTRIBUTION_GUIDE.md 마크다운 문법 출력 오류 수정
  .github/DOC_CONTRIBUTION_GUIDE.md
Labels: doc

#70 [tool] Vercel Preview를 위한 vercel.json 설정 값 추가
  .gitignore
  vercel.json
Labels: tool

#64 [tool] edit links, last updated, locales 추가
  docs/.vuepress/config.js
  package.json
  yarn.lock
Labels: tool

#59 [doc] @nuxt/axios 튜토리얼 문서화
  docs/.vuepress/config.js
  docs/nuxt/images/axios-options.png
  docs/nuxt/images/install-axios.png
  docs/nuxt/nuxt-axios.md
Labels: doc
